.container-card {
  width: 540px;
  max-height: 364px;
  min-height: 364px;
  background-color: var(--Dark-Blue);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 69.22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-img:hover {
  box-shadow: -11px 6px 137px -5px rgba(83, 250, 0, 1);
  box-shadow: -11px 6px 137px -5px rgba(83, 250, 0, 1);
  box-shadow: -11px 6px 137px -5px rgba(83, 250, 0, 1);
  border-radius: 50%;
}

.container-img__path {
  position: fixed;
  left: 34%;
  top: 30.67%;
  cursor: pointer;
}
