$font-stack :  'Manrope',sans-serif;


#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

/* VARIABLES */
* {
	/* MAIN COLOR PALETTE */
--primary-color: #202733;
--secundary-color: #313A48;
--tertiary-color: #4F5D74;
--four-color: #CEE3E9;
--five-color: #53FFAA;




	/*	MEASURES */
	--default-padding: 1rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}